* {
	box-sizing: border-box;
}

h1, h3, h4 {
	margin-bottom: 0.4em;
}

h1 {
	font-size: 2.5em;
	margin-top: 1em;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.bg {
	display: table;
	height: 100vh;
	padding-bottom: 0;
	padding-top: 0;
	table-layout: fixed;
	width: 100%;
	position: relative;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.overlay {
	opacity: 0.7;
	background-color: #f8d5d7;
	min-height: 100vh;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: absolute;
	z-index: 1;
}

.overlay ~ * {
	z-index: 2;
}

.main-content {
	margin-top: 1em;
	width: 100%;
	display: table-cell;
	float: none;
	padding: 2em 1em 0;
	position: relative;
}

.main-content h1, .main-content h3, .main-content h4 {
	color: #222125;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.footer {
	color: #323135;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
	font-size: smaller;
	text-align: center;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin-bottom: 1em;
}

.footer a {
	color: #6C2A6A;
	text-decoration: none;
}

.footer a:active {
	color: #674172;
	text-decoration: none;
}

.footer a:hover {
	color: #261300;
	text-decoration: none;
}

@media screen and (min-width: 35.5em) {
	.main-content {
		width: 33em;
	}
}

@media screen and (min-width: 48em) {
	.main-content {
		width: 45em;
	}
}

@media screen and (min-width: 64em) {
	.main-content {
		width: 61em;
	}
}

@media screen and (min-width: 80em) {
	.main-content {
		width: 77em;
	}
}
